<div class="row">
  <div class="col-md-2">&nbsp;</div>
  <div class="col-md-8">
    <%= render "error" %>
    <div class="well well-sm">
      <%= render "form" %>
    </div>
    </form>
  </div>
</div>