%html
  %head
    = stylesheet_link_tag "bulletins"
    %link{href: "//fonts.googleapis.com/css?family=Quicksand:300,400,700", rel: "stylesheet", type: "text/css"}
    = javascript_include_tag "bulletin"
  %body
    = yield
