%p
  =link_to image_tag("btn_appstore.png", {alt: "", height: "60", width: "200"}), "https://itunes.apple.com/jp/app/cosplay-no.1/id953760018?mt=8", target: "_blank"
%p
  =link_to image_tag("btn_googleplay.png", {alt: "", height: "60", width: "200"}), "https://play.google.com/store/apps/details?id=com.framgia.cosplay", target: "_blank"
