.select2-container.select2-container-multi.select2-dropdown-open .select2-choices {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.select2-container.select2-dropdown-open .select2-choice {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-border: 0;
}

.select2-search input {
  margin-top: 5px;
}

.select2-container .select2-choice {
  height: 36px;
  line-height: 36px;
  border-radius: 6px;

  .select2-arrow {
    background: none;
    border-left: 0;
    border-radius: 0 4px 4px 0;
    display: inline-block;
    height: 100%;
    position: absolute;
    right: 12px;
    top: 0;
    width: 18px;

    b {
      background: rgba(0, 0, 0, 0) image-url("select2.png") no-repeat scroll 0 7px;
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}

.select2-container-multi .select2-choices {
  border-radius: 6px;
  .select2-search-field input {
    background: transparent none repeat scroll 0 0 !important;
    border: 0 none;
    box-shadow: none;
    color: #666;
    font-family: sans-serif;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0 5px;
  }

  .select2-search-choice{
    font-size: 1.4rem;
    line-height: 21px;
  }
}

.select2-search-choice-close {
  top: 8px;
}

.form_container .upload_form .select2-container {
  font-size: 1.4rem;
}

#select2-drop .select2-results li {
  font-size: 1.4rem;
}
