<!--<html lang="en">-->
<!--    <head>-->
<!--        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
<!--        <script type="text/javascript">-->
<!--            -->
<!--            -->
<!--            $(document).on('click', 'a[target="_blank"]', function(ev) {-->
<!--                           var url;-->
<!--                           ev.preventDefault();-->
<!--                           url = $(this).attr('href');-->
<!--                           window.open(url);-->
<!--                           });-->
<!--            -->
<!--            </script>-->
<!--    </head>-->
<!--    <body>-->
<!--       -->
<!--       -->
<!--       <a id="theLink" target="_blank" href="http://google.com">1111111</a>-->
<!--       -->
<!--       -->
<!--       -->
<!--       <a href="http://www.countdown.asia">http://www.countdown.asia</a>-->
<!--    </body>-->
<!--</html>-->




<html><head>
    <link href="/assets/bulletins-e6f5523c8133fa4af96018e9a0ef4755.css" media="screen" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Quicksand:300,400,700" rel="stylesheet" type="text/css">
            <script src="https://cosplay-no1.com/assets/bulletin-303b1dccc3a06c0f4539d336e683dc1b.js"></script>
</head>
<body>
    <p class="image">
    <img alt="News" src="/assets/news-bd38a39aa9122a1be3c6186b3ea56bf3.png">
        </p>
        <div class="content">
            <h1>
                Cosplay No.1 in Manga Festival 2015
            </h1>
            <div class="vietnamese">
                <p>
                Xin mời bạn tham gia 2 sự kiện do Cosplay No.1 tổ chức tại Manga Festival năm nay :
                <br>
                Sự kiện 1 : Cosplay Photo Contest
                <br>
                Sự kiện 2 : App Install Campaign
                </p>
                <p>
                Để tham gia sự kiện thứ 2, bạn cần đăng ký số điện thoại theo đường dẫn
                <br>
                <a href="https://cosplay-no1.com/mf">https://cosplay-no1.com/mf</a>
                </p>
                <p>
                Thông tin phần thưởng và cách thức chọn ra người trúng giải như sau.
                </p>
                <p>
                <strong>
                    COSPLAY PHOTO CONTEST
                </strong>
                <br>
                ・Đăng ảnh lên App Cosplay No.1 để tham gia sự kiện
                <br>
                ・Ai được cộng nhiều điểm Winner nhất là người chiến thắng
                <br>
                ・Phần thưởng cho người chiến thắng là 4 triệu đồng
                <br>
                ・Phần thưởng 500.000 đồng cho 8 người được chọn ngẫu nhiên từ vị trí thứ 2 đến 20 trên bảng xếp hạng
                </p>
                <p>
                <strong>
                    APP INSTALL CAMPAIGN
                </strong>
                <br>
                ・Cài App Cosplay No.1, tạo tài khoản mới và đăng ký số điện thoại
                <br>
                ・Vào lúc 18:00 hằng ngày, 10 người trúng giải sẽ được chọn ngẫu nhiên (3 ngày tổng cộng là 30 người), kết quả sẽ được công bố sau tiết mục LIVE của ban nhạc L.C.L
                <br>
                ・Sau khi công bố kết quả, người trúng giải cần có mặt tại sân khấu để nhận phần thưởng
                <br>
                ・Ban tổ chức sẽ gọi vào số máy người trúng giải để xác minh trước khi trao thưởng
                </p>
            </div>
        </div>
        <div class="movie" style="padding-top: 56.25%;"><iframe id="to_fit" src="https://www.youtube.com/embed/qHRKaauA85o" height="315" width="560"></iframe></div><div class="content"><h1>COUNTDOWN ASIA <br>(NOW ON AIR!!)</h1><p>The entertainment program of latest Music,  Game,  Anime and Cosplay countdown!!<br>New POP experience will be there!!</p><p>▼On Air Info<br>(O-Channel)<br>Every SUN 22:00〜22:30</p><p>▼Official Website<br><a href="http://www.countdown.asia">http://www.countdown.asia</a></p><p>▼Live Streaming (Every SUN 22:00~22:30)<br><a href="http://www.ochanneltv.com/streaming">http://www.ochanneltv.com/streaming</a></p><p>▼FB<br><a href="https://www.facebook.com/countdownasia">https://www.facebook.com/countdownasia</a></p><p>▼Twitter<br><a href="https://twitter.com/countdown_asia">https://twitter.com/countdown_asia</a></p></div>
        
        
        
</body></html>